.navbar {
    padding: 0 2rem;
    .navbar__title {
        color: white;
        font-weight: 700;
        text-transform: capitalize;
        margin-right: 2rem;
    }
}

.navbar__container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}