/* addP.css */

/* Main container styling */
.add-project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    flex: 1;
    background-color: #f5f5f5;
    padding: 5rem 0;
}

/* Form styling */
.add-project__form {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 2rem;
    min-width: 30rem;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    text-transform: capitalize;
    width: 100%;
    max-width: 40rem;

    h1 {
        font-size: 2.4rem;
        text-align: center;
        text-decoration: underline;
        color: #000000;
    }

    /* Label styling */
    label {
        margin-top: 1rem;
        color: black;
        font-size: 1.2rem;
        font-weight: 600;
    }

    /* Input and select styling */
    input,
    select {
        border-width: 2px;
        border-color: #b4b4b43e;
        padding: 0.8rem;
        font-size: 1rem;
        margin-top: 0.5rem;
        border-radius: 0.5rem;
    }

    input:focus,
    select:focus {
        outline: none;
        border-color: #008540;
    }

    /* File input styling */
    input[type="file"] {
        border: none;
        padding: 0.8rem;
        font-size: 1rem;
        margin-top: 0.5rem;
        border-radius: 0.5rem;
    }

    /* Button styling */
    button {
        display: flex; /* Ensures content is centered */
        justify-content: center; /* Centers the button text */
        align-items: center; /* Centers the button text vertically */
        width: 100%;
        padding: 0.8rem;
        font-size: 1.2rem;
        border-radius: 0.5rem;
        background-color: #008540;
        color: white;
        font-weight: 700;
        border: none;
        margin-top: 2rem;
        cursor: pointer;
    }

    button:hover {
        background-color: #006e32;
    }

    /* Message display */
    .message,
    .error {
        font-weight: 700;
        text-align: center;
        margin-top: 2rem;
    }

    .message {
        color: green;
    }

    .error {
        color: red;
    }
}

/* Form group styling */
.form-group {
    margin-bottom: 1.5rem;
}

/* Input focus effect */
.form-group input:focus {
    outline: none;
    border-color: #008540;
}

/* Invalid input styling */
.form-group input:invalid {
    border-color: red; /* Red border for invalid inputs */
}

.form-group input:valid {
    border-color: #b4b4b43e; /* Default border color */
}

/* File input display when images are selected */
.add-project__form .form-group .mt-3 {
    color: #333;
    font-size: 1rem;
}

.add-project__form .form-group .mt-3 ul {
    list-style-type: none;
    padding: 0;
}

.add-project__form .form-group .mt-3 li {
    padding: 0.2rem 0;
    color: #008540;
}
